{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}
{% block app_content %}
    <div class="container">

        <div class="row">

            <div id="dialog" title="Basic dialog">

            </div>
            <div class="col-md-6 ">
                <h1>Emprestimos</h1>
                <ul id="ulist" class="list-group">

                {% for emprestimo in emprestimos %}
                    <h4>
                        Renovar emprestimo <a idEmprestimo={{ emprestimo.idEmprestimo }},
                            matricula={{ emprestimo.matricula }}, onclick="EditarContato(this)">
                            <span class="glyphicon glyphicon-edit"></span></a>
                    </h4>

{#                    <p>Data de saída: {{ emprestimo.dataSaida.strftime('%d/%m/%Y') }}</p>#}
{#                    <span class="fas fa-plus-square" onclick="AdicionarTelefone(this)"></span>#}
                    <table class="table table-hover ">
                        <thead>
                        <tr >
                            <th>id Emprestimo</th>
                            <th>Data saída</th>
                            <th id="teste">Data Entrega</th>
                            <th>Data Devolução</th>
                            <th>Renovacoes</th>
                            <th>Matricula</th>
                            <th>id atividade</th>
                            <th>id equipamento</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bg-primary">{{ emprestimo.idEmprestimo }}</td>
                                <td>{{ emprestimo.dataSaida.strftime('%d/%m/%Y') }}</td>

                                {% if(emprestimo.dataEntrega == None) %}
                                    <td>{{ emprestimo.dataEntrega}}</td>
                                {% else %}
                                    <td>{{ emprestimo.dataEntrega.strftime('%d/%m/%Y') }}</td>
                                {% endif %}
                                <td>{{ emprestimo.dataDevolucao.strftime('%d/%m/%Y') }}</td>
                                <td>{{ emprestimo.quantidadeEmprestimo }}</td>
                                <td>{{ emprestimo.matricula }}</td>
                                <td>{{ emprestimo.idAtividade }}</td>
                                <td>{{ emprestimo.idEquipamentoEmprestado }}</td>
                                <td>
                                    <a idEmprestimo={{ emprestimo.idEmprestimo }} onclick="Finalizar(this)" ><span class="fas fa-trash-alt"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {# Diálogo para edição de contato #}
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" id="editModalLabel">Emprestimo renovado</h4>
                </div>
                <div class="modal-footer">
                    {{ wtf.form_field(form.btnAtualizar) }}
                </div>
            </div>
        </div>
    </div>

    {# Diálogo para confirmar exclusão de telefone #}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4>Emprestimo finalizado</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Delete()">Confirmar</button>
                </div>
            </div>
        </div>
</div>



{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    function EditarContato(elm) {
    {#$('#editModal').modal();#}
    $.ajax({
        url: '/emprestimo/renovar',
        dataType: "json",
        data: {
            idEmprestimo: $(elm).attr('idEmprestimo').slice(0,-1),
            matricula: $(elm).attr('matricula').slice(0,-1)
        },
        type: 'POST',
        success: function(res) {
            $('#editModal').modal()
            console.log(res);
            setInterval('refreshPage()', 500);
        },
        error: function(error) {
            console.log(error);
            setInterval('refreshPage()', 500);
        }
    });
    $(function(elm){
          $('#btnAtualizar').click(function(){
              location.reload();
          });
    });
    }

    function Finalizar(elm){
        $('#deleteModal').modal();
        $.ajax({
        url: '/emprestimo/finalizar',
        dataType: "json",
        data: {
            idEmprestimo: $(elm).attr('idEmprestimo'),
        },
        type: 'POST',
        success: function(res) {
            console.log(res);

        },
        error: function(error) {
            console.log(error);
        }
    });
    }
    function Delete(){
        $('#deleteModal').modal('hide');
        location.reload();
    }

  function refreshPage() {
    location.reload(true);
  }


    </script>

{% endblock %}



